body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}

.about-section {
    max-width: 1200px;
    margin: -10px auto;
    padding: 10px;
    border-radius: 15px; 
    margin-bottom: 15px;
}

.about-image {
    text-align: center;
    margin-bottom: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 10px; 
}

h1 {
    text-align: center;
    color: #000000; 
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
    margin-bottom: 10px; 
    margin-top: 0px;
}

p {
    text-indent: 0px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 400; 
}
