<!DOCTYPE html>
{% load static %}
{% load events_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}Glasgow Events And Arts Reviews{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'cssfiles/base.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="{% url 'events:events' %}">
            <img src="{% static 'images/GEAARS.svg' %}" alt="GEAARS" class="logo-image">GEAARS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'events:events' %}">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'events:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'events:map' %}">Map</a></li>
            </ul>
            
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events:logout' %}">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if user.userprofile.picture %}
                            <img src="{{ user.userprofile.picture.url }}" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-left: 10px;">
                        {% else %}
                            <img src="{% static 'images/default-profile.jpg' %}" alt="Default Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-left: 10px;">
                        {% endif %}
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events:register' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container flex-grow-1 mt-4">
        {% block body_block %}
        {% endblock %}
    </div>
    <footer class="site-footer">
        <p>Contact us at: <a href="mailto:contact@example.com">contact@example.com</a> or call us at <a href="tel:+1234567890">+123 456 7890</a></p>
    </footer>
    

    {% if not request.resolver_match.url_name == 'map' %}
    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <span class="text-muted">© 2024 Glasgow Events and Arts Reviews. All rights reserved.</span>
        </div>
    </footer>
    {% endif %}
</body>
</html>
