{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
    {{ event.title }}
{% endblock %}

{% block body_block %}


<head>  
    <link rel="stylesheet" href="{% static 'cssfiles/choosenevent.css' %}">
</head>

<div class="event-details">
    <h1>{{ event.title }}</h1>
    <div class="event-image">
        <img src="{% static 'images/'|add:event.slug|add:'.jpg' %}" alt="{{ event.title }}" style="max-width: 25%; height: auto;">
    </div>
    <p><strong>Date:</strong> {{ event.date|date:"D, d M Y H:i" }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p>{{ event.description }}</p>
</div>

{% if event_has_occurred %}
    <form method="post" action="{% url 'events:make_a_review_discuss_event' event_slug=event.slug %}">
        {% csrf_token %}
        
        <div class="rating-system">
            {% for field in review_form.visible_fields %}
            <div class="form-group">
                <h3>{{ field.label }}</h3>
                <div class="stars" data-rating-name="{{ field.name }}">
                    <span class="star" data-rating="1">&#9733;</span>
                    <span class="star" data-rating="2">&#9733;</span>
                    <span class="star" data-rating="3">&#9733;</span>
                    <span class="star" data-rating="4">&#9733;</span>
                    <span class="star" data-rating="5">&#9733;</span>
                </div>
                {{ field.as_hidden }}
            </div>
            {% endfor %}
        </div>

        {% for field in comment_form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}

        <button type="submit" name="make_a_review_discuss_event">Submit Review and Comment</button>
    {% else %}
        <p>Event has not occurred yet, come back and review after the event has passed.</p>
    {% endif %}
    </form>

    <script src="{% static 'javascriptfiles/choosenevent.js' %}"></script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if user.is_authenticated %}
    <div class="comment-container">
        <div class="comment-form-section">
        </div>
        <div class="comment-messages-section">
            {% for comment in comments %}
                <div class="comment">
                    <strong>{{ comment.user.username }}</strong> says:
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    {% endblock %}

