{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
Events
{% endblock %}

{% block body_block %}
<style>
    .image-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        justify-content: center; 
        max-width: 600px; 
        margin: auto; 
    }
    
    .card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
        height: 250px; 
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    .image-container img {
        width: 100%; 
        height: 150px; 
        object-fit: cover; 
    }

    .text-box {
        text-align: center; 
        padding: 10px; 
        flex-grow: 1; 
    }
    
    @media (max-width: 768px) {
        .image-grid {
            grid-template-columns: 1fr; 
            max-width: 300px; 
        }

        .card {
            height: auto; 
        }

        .image-container img {
            height: auto; 
        }
    }
</style>

<h1>Events For You</h1>
<div>
    {% if user.is_authenticated %}
        Welcome {{ user.username }}, to the Glasgow Events and Arts Review Page!
    {% else %}
        Welcome to the Glasgow Events and Arts Review Page!
    {% endif %}
    <br />
</div>

<div class="image-grid">
    {% for event in events %}
        <div class="card">
            <a href="{% url 'events:choosen_event' event_slug=event.slug %}">
                <div class="image-container">
                    <img src="{% static 'images/'|add:event.slug|add:'.jpg' %}" alt="{{ event.title }}" />
                </div>
                <div class="text-box">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description|truncatewords:20 }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
