{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
Events
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" href="{% static 'cssfiles/events.css' %}">
</head>

<h1>Events For You</h1>
<div>
    {% if user.is_authenticated %}
        Welcome {{ user.username }}, to the Glasgow Events and Arts Review Page!
    {% else %}
        Welcome to the Glasgow Events and Arts Review Page!
    {% endif %}
    <br />
</div>

<div class="image-grid">
    {% for event in events %}
        <div class="card">
            <a href="{% url 'events:choosen_event' event_slug=event.slug %}">
                <div class="image-container">
                    <img src="{% static 'images/'|add:event.slug|add:'.jpg' %}" alt="{{ event.title }}" />
                </div>
                <div class="text-box">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description|truncatewords:20 }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<div>
    </br>
</div>
{% endblock %}
