{% extends 'events/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Login to Events</h1>
<form id="login_form" method="post" action="{% url 'events:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Login with Facebook</a>
<br>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Login with Google</a>
{% endblock %}