{% extends 'events/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
    Event Map
{% endblock %} 

{% block body_block %}
    <h1>The GEAARS Event Map</h1>
    <div>
        Here you can explore all that Glasgow has to offer 
        <br />
    </div>

    <!-- Container for the map -->
    <div id="map" style="height: 400px; width: 100%">
    </div>
{% endblock %} 
    
{% block javascript %}
<script>
// Function to initialize the map
function initMap() {
    var glasgowcentralLatLng = {long: 55.85943463723302,lat: -4.256705753872978}; // Glasgow Central Coordinates

    var map = new google.maps.Map(document.getElementById("map"), {
        center: glasgowcentralLatLng,
        zoom: 12,
    });

    // Markers, listneners and info for venues. 
    var venues = JSON.parse('{{ venues|safe|escapejs }}');


    // Add markers and info windows for each venue
    for (var i = 0; i < venues.length; i++) {
        var venue = venues[i];
        var marker = new google.maps.Marker({
            position: {lat: venue.lat, lng: venue.lng},
            map: map,
            title: venue.name
        });
            

        var infoWindow = new google.maps.InfoWindow({
            content: venue.info
        });

        // Add event listeners to show info windows on marker hover
        marker.addListener('mouseover', function() {
            infoWindow.open(map, this);
        });

        // Close the info window when the mouse moves out of the marker
        marker.addListener('mouseout', function() {
            infoWindow.close();
        });
    }
}
</script>
{% endblock %}
